.profile {
  width: 250px;  
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: Georgia;
  font-size: 16px;
  font-style: normal;
  color: #345e80;
  border: 1px solid #c1cdd6;
  box-shadow: 4px 4px 9px 1px rgba(22, 45, 64, 0.44);
  border-radius: 5px;
  background-color: #fff;
}
.description {
  padding: 20px;
  width: 250px;
  text-align: center;
}
.avatar {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 2px solid #c1cdd6;
  border-radius: 50%;
}
.name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
}

.tag {
  margin: 0;
  margin-top: 5px;
  color: #858f96;
 
}

.location {
  text-align: center;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 20px;  
  color: #858f96;
}

.stats {
  display: flex;
  padding: 0;
  
  background-color: #ccdae5;
  
}

.item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid #c1cdd6;
  width: 100%;
}

.span {
  display: block;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}
.stat {   
   font-weight: bold; 
   margin-bottom: 10px;
}