.transactionHistory {  
  margin: 0 auto;
  background-color: #fff;
  color: rgb(54, 54, 54);
  font-family: Georgia;
  text-align: center;
}
.item:nth-child(2n) {
  background-color: #c7f3ec;
}

th {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  background: #248686;  
  color: #fff;
  padding: 10px;
}

td {
  font-size: 12px;  
  font-weight: normal;
  text-transform: capitalize; 
  padding: 10px 40px;
  cursor: pointer;
}

tr:hover td {
  background: rgb(188, 210, 212);
}